*
!*/
!/MultiDungeon_Rightpocalypse/data/attrib/**
!/MultiDungeon_Rightpocalypse/data/scar/**
!/MultiDungeon_Rightpocalypse/data/defprofile/**
!/MultiDungeon_Rightpocalypse/data/game/**
!/MultiDungeon_Rightpocalypse/locale/**
!/MultiDungeon_Rightpocalypse/data/ai/**
!/MultiDungeon_Rightpocalypse/data/soundplaylistmusic.lua
!/MultiDungeon_Rightpocalypse/data/Art/ui/screens/**
!/MultiDungeon_Rightpocalypse/data/camera_high.lua
!/MultiDungeon_Rightpocalypse/data/camera_low.lua
!/MultiDungeon_Rightpocalypse/data/camera_me.lua


!MultiDungeon_Rightpocalypse.module
!DXP2Dummy.module
!MultiDungeonDummy.module
!.gitignore

